<h2>
  Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Email</label>
  <input id="username" type="email" name="username" placeholder="Your email">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br> {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

</form>
<a href="/auth/google"><button>Login with Google</button></a>
<p class="account-message">
  Don't have an account yet?
  <a href="/auth/signup">Signup</a>
</p>