<div class="login-wrapper">

  <div class="logo dark">
    <img src="/images/logo-yellow.png" height="50px" alt="felicitas logo"><span>felicitas</span></div>
  <div class="login-container">

    <div class="signup">
      <h2>
        Log In</h2>

      <form action="/auth/login" method="POST" id="form-container" class="signup__form">

        <input id="username" type="email" name="username" placeholder="Your email">


        <input id="password" type="password" name="password" placeholder="Your password">
        <br> {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}


        <div class="signup__form-btn">
          <button>Log In</button>
        </div>

      </form>

      <div class="signup__form-btngoogle">
        <a href="/auth/google"><button>Log in with Google</button></a>
      </div>

      <div class="signup__login">
        <p class="account-message">
          Don't have an account yet?
          <a href="/auth/signup">Sign up</a>
        </p>

      </div>
    </div>
  </div>
</div>