body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.leaflet-container {
    font: 100px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
