/*
YELLOW: #ffda75
WHITE: #fffefc
BLUE: #66ACC1
BLACK: #2F3133
font-family: 'Assistant', sans-serif;
font-family: 'Abril Fatface', cursive;
*/
* {
  margin: 0;
  box-sizing: border-box; }

body {
  font: 16px "Assistant", sans-serif;
  font-weight: 100;
  background-color: #fffefc;
  color: #33322f; }
  body input:focus {
    outline: none; }
  body button:focus {
    outline: none; }

.logo.dark {
  margin-top: 20px;
  display: flex;
  align-items: center; }

.signup-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-content: stretch; }
  .signup-container__left {
    background-image: linear-gradient(#33322f, rgba(51, 50, 47, 0.2)), url(map_overview.png);
    background-position: center;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-right: 40px;
    border-radius: 10px;
    color: #fffefc; }
    .signup-container__left h2 {
      font-size: 40px;
      text-align: center;
      padding-top: 40px;
      color: #66acc1; }
    .signup-container__left p {
      padding: 60px 60px 0 60px;
      font-weight: 300;
      line-height: 1.7;
      font-size: 20px; }
    .signup-container__left span {
      color: #ffda75;
      font-weight: 700; }
  .signup-container__right {
    margin-right: 50px; }

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(51, 50, 47, 0.5); }
  .signup h2 {
    color: #ffda75;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center; }
  .signup__form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .signup__form input {
      padding: 10px 20px;
      border: none;
      border-bottom: 2px solid #ffda75;
      font-size: 18px;
      margin-bottom: 30px;
      text-align: center; }
    .signup__form-btn button {
      margin: 20px 0;
      font-size: 20px;
      background-color: #ffda75;
      border: 2px solid #ffda75;
      color: #fffefc;
      padding: 12px 30px;
      font-weight: 700;
      border-radius: 10px;
      letter-spacing: 0.7px;
      box-shadow: 0 3px 10px rgba(51, 50, 47, 0.5);
      transition: all 0.4s; }
    .signup__form-btn button:hover {
      background-color: #66acc1;
      border: 2px solid #66acc1; }
    .signup__form-btngoogle button {
      margin: 20px 0 30px 0;
      font-size: 18px;
      border: 2px solid #66acc1;
      color: #66acc1;
      background-color: #fffefc;
      padding: 12px 20px;
      font-weight: 700;
      border-radius: 10px;
      letter-spacing: 0.7px;
      box-shadow: 0 3px 10px rgba(51, 50, 47, 0.5);
      transition: all 0.4s; }
    .signup__form-btngoogle button:hover {
      background-color: #66acc1;
      color: #fffefc; }
  .signup__login p {
    font-size: 14px; }
  .signup__login a {
    color: #ffda75;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 2px 5px;
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 1px solid #ffda75; }
  .signup__login a:hover {
    background-color: #ffda75;
    color: #fffefc;
    border-radius: 2px; }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.name-container {
  margin-top: 50px;
  width: 450px; }

.btn-white-ghost {
  margin-top: 20px;
  margin-right: 130px;
  float: right; }

.btn-white-ghost a {
  text-decoration: none;
  border: 2px solid #fffefc;
  color: #fffefc;
  padding: 8px 15px;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 0.7px;
  transition: all 0.4s; }

.btn-white-ghost a:hover {
  background-color: #fffefc;
  color: #ffda75; }

.leaflet-container {
  font: 100px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

.map-container #map {
  height: 100vh;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.top-bar {
  height: 60px;
  background-color: #ffda75;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 3px 10px rgba(51, 50, 47, 0.5); }

.logo {
  display: inline-block;
  margin-left: 30px;
  margin-top: 12px; }
  .logo span {
    font-family: "Abril Fatface", cursive;
    margin-left: 15px;
    font-size: 30px;
    color: #fffefc;
    letter-spacing: 0.9px; }

.logo.dark span {
  color: #33322f !important;
  font-size: 40px; }

.profile-icons {
  height: 33px;
  width: 33px;
  fill: #fffefc;
  border: 2px solid #fffefc;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 50px;
  display: inline-block;
  transition: all 0.4s; }
  .profile-icons__user {
    margin-right: 60px; }

.profile-icons:hover {
  background-color: #fffefc;
  fill: #ffda75; }

.sidebar {
  z-index: 20;
  background-color: #fffefc;
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 60px;
  transition: 0.7s; }
  .sidebar__text {
    margin-top: 60px;
    padding: 40px;
    flex-basis: 90%; }
    .sidebar__text h2 {
      color: #66acc1;
      font-size: 200%;
      font-weight: 300; }
  .sidebar__icon button {
    flex-basis: 10%;
    margin-top: 70px;
    font-size: 60px;
    color: #ffda75;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: transparent; }
  .sidebar.is-closed {
    transform: translateX(-350px); }

.sidebar-toggle {
  transform: rotate(0deg); }
  .sidebar-toggle.is-closed {
    transform: translateX(60px); }

.icon .is-closed {
  transform: rotate(180deg); }

.leaflet-left .leaflet-control {
  margin-left: 70px !important;
  margin-top: 70px !important; }

.profile {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap; }

.user-story-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 60px;
  box-shadow: 0 3px 10px rgba(51, 50, 47, 0.5);
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 30px; }

.story-btn-container {
  display: flex;
  justify-content: flex-end; }

.story-copy {
  word-wrap: break-word; }

.story-icon {
  height: 20px;
  width: 20px;
  fill: #ffda75;
  margin-left: 10px; }

.location,
.date {
  font-size: 12px;
  display: inline-block;
  color: #66acc1; }

.followbtn.active {
  font-size: 30px; }

.story-form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .story-form textarea {
    font-size: 14px;
    padding: 20px 15px;
    border-radius: 10px; }
  .story-form button {
    background-color: #ffda75;
    border: none;
    border-radius: 10px;
    color: #fffefc;
    font-size: 18px;
    text-align: center;
    width: 150px;
    margin: 20px 0;
    padding: 10px;
    font-weight: 700; }

.leaflet-interactive {
  stroke: #636363;
  fill: #636363; }

.footer {
  background-color: #33322f;
  padding: 20px;
  position: absolute;
  bottom: -180px;
  width: 100%;
  text-align: center; }
  .footer span {
    font-family: "Abril Fatface", cursive;
    font-size: 40px;
    color: #fffefc;
    letter-spacing: 0.9px;
    margin-bottom: 20px; }
  .footer p {
    color: #fffefc; }

/*# sourceMappingURL=style.css.map */