<div class="top-bar">
<<<<<<< HEAD
    <div class="logo"><span>felicitas</span></div>
=======
    <div class="logo"><img src="/images/logo-white.png" height="25px" alt="felicitas logo"><span>felicitas</span></div>
>>>>>>> 85f6b13662c1827512fb4dabc123667a66088d3e
    <a href="/protected/user-profile">
        <svg class="profile-icons profile-icons__user"><use xlink:href="/images/sprite.svg#icon-user"></use></svg>
    </a>
    <a href="/auth/logout">
        <svg class="profile-icons profile-icons__logout"><use xlink:href="/images/sprite.svg#icon-log-out"></use></svg>
    </a>
</div>

<div class="map-container">
    <div class="sidebar">
        <div class="sidebar__text">
            <h2>The world is your happy place</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="sidebar__icon icon">
            <button class="sidebar-toggle">&lsaquo;</button>

        </div>
    </div>
    <div id="map"></div>
</div>
{{!--
<script src='/javascripts/map.js'></script> --}}