<div id="map"></div>
<p><a href="https://www.maptiler.com/license/maps/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright"
        target="_blank">© OpenStreetMap contributors</a></p>