<div class="top-bar">
    <div class="logo"><img src="/images/logo-white.png" height="25px" alt="felicitas logo"><span>felicitas</span></div>
    <a href="/protected/user-profile">
        <svg class="profile-icons profile-icons__user"><use xlink:href="/images/sprite.svg#icon-user"></use></svg>
    </a>
    <a href="/auth/logout">
        <svg class="profile-icons profile-icons__logout"><use xlink:href="/images/sprite.svg#icon-log-out"></use></svg>
    </a>
</div>

<div class="map-container">
    <div class="sidebar">
        <div class="sidebar__text">
            <h2>The world is <br> your happy place</h2>
            <p>Simply share your happiness with the world: Click on your current location to start writing, or search for
                a place in the search bar. <br> Check out other people’s stories by clicking on the black markers. You can
                also follow the happiest person out there, and you’ll see their markers change to blue.</p>
        </div>
        <div class="sidebar__icon icon">
            <button class="sidebar-toggle">&lsaquo;</button>

        </div>
    </div>
    <div id="map"></div>
</div>