<div class="top-bar">
    <a href="/auth/logout"><button>LOG OUT</button></a>
    <a href="/user-profile"><button>USER PROFILE</button></a>
</div>

<div class="map-container">
    <div id="map"></div>
</div>