<div class="top-bar">
    <a href="/auth/logout"><button>LOG OUT</button></a>
    <a href="/protected/user-profile"><button>USER PROFILE</button></a>
</div>

<div class="map-container">
    <div class="sidebar">
        <div class="sidebar__text">

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="sidebar__icon icon">
            <button class="sidebar-toggle">&lsaquo;</button>

        </div>
    </div>
    <div id="map"></div>
</div>
{{!--
<script src='/javascripts/map.js'></script> --}}